@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  }
.ricette_preferite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .ricetta {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .ricetta h3 {
    color: rgb(255, 153, 0);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .ricetta img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .ricetta a {
    display: inline-block;
    background-color: orange;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .ricetta a:hover {
    background-color: #ff8800;
  }
  
  h1{
    text-align: center;
    color: rgb(255, 153, 0);
  }